<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Pokédex</ion-title>

        <ion-buttons slot="end">
            <ion-button routerLink="/favorites">
                Favoritos
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        @for (item of items; track item;) {
            <ion-item [routerLink]="['/pokemon', item.id]" detail="true">
                <ion-avatar slot="start">
                    <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + item.id + '.png'"
                         alt="avatar"/>
                </ion-avatar>
                <ion-label>{{ item.name | titlecase }}</ion-label>
            </ion-item>
        }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
