<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Pokédex</ion-title>

        <ion-buttons slot="end">
            <ion-button routerLink="/favorites">
                Favoritos
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngIf="isLoading" class="ion-text-center ion-margin-top">
        <ion-spinner name="circles"></ion-spinner>
    </div>

    <div *ngIf="!isLoading && items.length === 0" class="ion-text-center ion-padding">
        <ion-text color="medium">
            <h5>Nenhum Pokémon encontrado</h5>
            <p>Tente novamente mais tarde.</p>
        </ion-text>
    </div>

    <ion-list *ngIf="!isLoading && items.length > 0">
        @for (item of items; track item; ) {
            <ion-item [routerLink]="['/pokemon', item.id]" detail="true">
                <ion-avatar slot="start">
                    <app-pokemon-image [pokemonId]="item.id"/>
                </ion-avatar>
                <ion-label>{{ item.name | titlecase }}</ion-label>
            </ion-item>
        }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
